<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>activity</key>
		<array>
			<dict>
				<key>subTitle</key>
				<string></string>
				<key>icon</key>
				<string>personal_Time</string>
				<key>title</key>
				<string>我的时光轴</string>
			</dict>
		</array>
		<key>tittle</key>
		<string></string>
	</dict>
	<dict>
		<key>activity</key>
		<array>
			<dict>
				<key>subTitle</key>
				<string></string>
				<key>icon</key>
				<string>personal_photo</string>
				<key>title</key>
				<string>我的云相册</string>
			</dict>
		</array>
		<key>tittle</key>
		<string></string>
	</dict>
	<dict>
		<key>activity</key>
		<array>
			<dict>
				<key>subTitle</key>
				<string></string>
				<key>icon</key>
				<string>personal_Game</string>
				<key>title</key>
				<string>小游戏</string>
			</dict>
		</array>
		<key>tittle</key>
		<string></string>
	</dict>
	<dict>
		<key>activity</key>
		<array>
			<dict>
				<key>subTitle</key>
				<string></string>
				<key>icon</key>
				<string>personal_service</string>
				<key>title</key>
				<string>我的客服</string>
			</dict>
		</array>
		<key>tittle</key>
		<string></string>
	</dict>
	<dict>
		<key>activity</key>
		<array>
			<dict>
				<key>subTitle</key>
				<string></string>
				<key>icon</key>
				<string>personal_about</string>
				<key>title</key>
				<string>关于我们</string>
			</dict>
		</array>
		<key>tittle</key>
		<string></string>
	</dict>
	<dict>
		<key>activity</key>
		<array>
			<dict>
				<key>subTitle</key>
				<string></string>
				<key>icon</key>
				<string>personal_set</string>
				<key>title</key>
				<string>设置</string>
			</dict>
		</array>
		<key>tittle</key>
		<string></string>
	</dict>
</array>
</plist>
