<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>project</key>
		<array>
			<dict>
				<key>title</key>
				<string>隐私</string>
				<key>icon</key>
				<string></string>
				<key>subtitle</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>新消息通知</string>
				<key>icon</key>
				<string></string>
				<key>subtitle</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>project</key>
		<array>
			<dict>
				<key>title</key>
				<string>意见反馈</string>
				<key>icon</key>
				<string></string>
				<key>subtitle</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>帮助中心</string>
				<key>icon</key>
				<string></string>
				<key>subtitle</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>project</key>
		<array>
			<dict>
				<key>title</key>
				<string>清理缓存</string>
				<key>icon</key>
				<string></string>
				<key>subtitle</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>图片质量</string>
				<key>icon</key>
				<string></string>
				<key>subtitle</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
